.header {
  &_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 8px 30px;
    background-color: $headerBgColor;
    box-shadow: $bsBoxShadow;
    z-index: $zIndexHeader;
  }
  &_inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &_title {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0;
    font-size: $mdFontSize;
    sup {
      font-size: $smFontSize;
      color: $textColorSecondary;
    }
    * > {
      margin-right: 5px;
    }
  }
  &_actions {
    &__wrapper {
      margin-left: auto;
    }
  }
  &_btn-back {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $circleBorderRadius;
    margin-right: 15px;
    flex: 0 0 auto;
    &:hover {
      background-color: $primaryColorHover;
    }
    &.transparent {
      &:hover {
        background-color: $light-gray;
      }
    }
    img {
      height: 16px;
    }
  }
}
