.reserves-page{
  &_wrapper{

  }
  &_inner-wrapper{
    display: flex;
  }
  &_left-side{
    width: 40%;
    max-width: 400px;
    flex: 0 0 auto;
  }
  &_right-side{
    width: 100%;
    flex: 1 1 auto;
  }
}