.auth-page {
  &_wrapper {
    position: relative;
    min-height: 100vh;
    background-image: url("../../../../images/jpg/cafe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15vh 10vw;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(35, 31, 32, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    }
  }
  &_inner-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  &_title {
    &__logo {
      margin-bottom: 25px;
      padding-top: 5vh;
      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        margin-right: 15px;
        padding: 5px;
        background-color: $white;
        border: 1px solid $bsBorderColor;
        border-radius: $smBorderRadius;
      }
      h2 {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: $xlFontSize;
        font-family: $primaryFontBold;
        color: $textColorWhite;
      }
    }
    &__text {
      color: $textColorWhite;
      font-size: $mdFontSize;
      font-family: $primaryFontMedium;
      margin: 0;
    }
  }
  &_form {
    &__wrapper {
      width: 100%;
      max-width: 440px;
      background-color: $white;
      padding: 70px 50px;
      box-shadow: $bsBoxShadow;
      border-radius: $bsBorderRadius;
      .form-field_wrapper {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
    &__title {
      margin-top: 0;
      margin-bottom: 40px;
      color: $textColorPrimary;
      font-family: $primaryFontMedium;
      font-size: $lgFontSize;
      font-weight: 500;
    }
    &__field.form-field_wrapper {
      .form-field_field {
        width: 100%;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
        font-size: $bsFontSize;
      }
      &._password {
        .form-field_field {
          padding-right: 40px;
        }
      }
      .form-field_error {
        position: absolute;
        top: 100%;
      }
    }
    &__btn {
      width: 100%;
      margin-top: 60px;
      padding: 10px 0;
    }
    &__errors {
      color: $dangerColor;
      p {
        margin: 0;
      }
    }
  }
}
