.form-field_wrapper._calendar {
  .form-field {
    &_field {
      width: 100%;
      font-family: $primaryFontRegular;
      border: 0;
      background-color: transparent;
      .react-datepicker {
        &__header {
          background-color: transparent;
          border-bottom: 0;
        }
        &__navigation {
          width: 22px;
          height: 22px;
          top: 6px;
          background-repeat: no-repeat;
          background-size: 8px;
          background-color: transparent;
          background-position: center;
          border: 0;
          border-radius: $circleBorderRadius;
          transition: 0.3s;
          &:hover {
            background-color: $ghost;
          }
          &--previous {
            background-image: url("../../../../images/svg/arrow-left.svg");
          }
          &--next {
            background-image: url("../../../../images/svg/arrow-right.svg");
          }
        }
        &__day-names {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }
        &__day-name {
          text-transform: uppercase;
          color: $textColorPrimaryLighten;
          font-size: $xsFontSize;
          line-height: $xsLineHeight;
          font-family: $primaryFontBold;
        }
        &__month-container {
          width: 100%;
          float: none;
        }
        &__current-month {
          margin-bottom: 30px;
          text-transform: capitalize;
          font-size: $mdFontSize;
          line-height: $mdLineHeight;
        }
        &__month {
          margin: 0;
        }
        &__week {
          display: flex;
          justify-content: space-between;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
        &__day {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: $bsFontSize;
          width: 36px;
          height: 36px;
          font-family: $primaryFontMedium;
          border-radius: $mdBorderRadius;
          &--outside-month {
            color: $ghost;
          }
          &--today {
            font-family: $primaryFontBold;
            font-weight: bold;
            border: 1px solid $ghost;
          }
          &--weekend {
            color: $textColorPrimary;
          }
          &--keyboard-selected {
            color: $textColorWhite;
            background-color: $secondaryColor;
            &:hover {
              background-color: $secondaryColorHover;
            }
          }
        }
      }
    }
  }
}
