.form-field_wrapper._calendar {
  .form-field {
    &_field {
      width: 100%;
      font-family: $primaryFontRegular;
      border: 0;
      background-color: transparent;
      .react-datepicker {
        &__header {
          background-color: transparent;
          border-bottom: 0;
        }
        &__navigation {
          width: 26px;
          height: 26px;
          top: 6px;
          background-repeat: no-repeat;
          background-size: 8px;
          background-color: transparent;
          background-position: center;
          border: 0;
          border-radius: $circleBorderRadius;
          transition: 0.3s;
          &:hover {
            background-color: $ghost;
          }
          &--previous {
            background-image: url("../../../../images/svg/arrow-left.svg");
          }
          &--next {
            background-image: url("../../../../images/svg/arrow-right.svg");
          }
        }
        &__day-names {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
        }
        &__day-name {
          text-transform: uppercase;
          color: $textColorPrimaryLighten;
          font-size: $xsFontSize;
          line-height: $xsLineHeight;
          font-family: $primaryFontBold;
        }
        &__month-container {
          width: 100%;
          float: none;
        }
        &__current-month {
          margin-bottom: 30px;
          text-transform: capitalize;
          font-size: $mdFontSize;
          line-height: $mdLineHeight;
        }
        &__month {
          margin: 0;
        }
        &__week {
          display: flex;
          justify-content: space-between;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
        &__day {
          position: relative;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: $bsFontSize;
          width: 36px;
          height: 36px;
          font-family: $primaryFontMedium;
          border-radius: $mdBorderRadius;
          &--today {
            font-family: $primaryFontBold;
            font-weight: bold;
            border: 1px solid $ghost;
          }
          &--outside-month {
            color: $ghost !important;
          }
          &--keyboard-selected {
            color: $textColorBlack;
            background-color: transparent;
            &:hover {
              background-color: #f0f0f0;
            }
          }
          &--selected {
            color: $textColorWhite;
            background-color: $secondaryColor;
            &:hover {
              background-color: $secondaryColorHover;
            }
            .react-datepicker__day {
              &--inner {
                &._disabled {
                  color: $textColorWhite;
                }
                &-sup {
                  color: $textColorWhite;
                  i {
                    background-color: $white;
                  }
                }
              }
            }
          }
          &--inner {
            &._disabled {
              color: $textColorGrey;
            }
            &-sup {
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 0;
              font-size: 8px;
              line-height: 8px;
              color: $textColorSecondary;
              i {
                display: inline-block;
                width: 5px;
                height: 5px;
                border-radius: $circleBorderRadius;
                background-color: $secondaryColor;
              }
            }
          }
          &--disabled {
            color: $disabledColor !important;
            .react-datepicker__day--inner {
              &._disabled {
                color: $disabledColor !important;
              }
            }
          }
        }
      }
    }
  }
}
