.form-field_wrapper._password {
  .form-field {
    &_field {
      padding: 10px 40px 10px 12px;
      background-color: $white;
      border-radius: $mdBorderRadius;
      border: $borderPrimary;
      transition: 0.2s;
      width: $inputFieldWidth;
      &:focus-visible {
        outline: none;
        border-color: $primaryColor;
      }
      &:hover {
        border-color: $primaryColorLighten;
      }
    }
    &_btn-password {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: $circleBorderRadius;
      border: 0;
      box-shadow: none;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 20px;
      padding: 0;
      transition: 0.2s;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
  &._label {
    .form-field_inner-wrapper {
      padding-top: 12px;
    }
  }
}
