@import "main-page/main-page";
@import "error-page/error-page";
@import "confirmation-reserves-page/confirmation-reserves-page";
@import "confirmation-page/confirmation-page";
@import "login-page/login-page";
@import "reserves-page/reserves-page";

// media
@import "main-page/main-page-media";
@import "login-page/login-page-media";
@import "confirmation-page/confirmation-page-media";
@import "confirmation-reserves-page/confirmation-reserves-page-media";
